*{
    padding:0;
}
    
    srinivas
{
    background:linear-gradient(to right, black 0%,black 50%,orange 50%,orange 100%);
    min-height:100vh;
        
}
li a{
    font-size: 20px;
    font-weight:normal ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 55px;

}